<div class="col-md-12">

  <h2 class="text-center"> 我发表过的评论 </h2>

  <table class="table">
    <thead>
      <tr>
        <th> 评论 </th>
        <th> 片名 </th>
        <th> 最后更新 </th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @critics.each do |critic| %>
        <tr>
          <td> <%= critic.content %> </td>
          <td> <%= critic.movie.片名 %> </td>
          <td> <%= critic.updated_at %> </td>
          <td> <%= link_to('Edit', edit_movie_critic_path(critic.movie, critic), class: "btn btn-default btn-xs") %></td>
          <td> <%= link_to('Delete', movie_critic_path(critic.movie, critic), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default btn-xs") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
